apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-scripts
data:
    postgresql.conf: |
    
      listen_addresses = '*'          # Allow all connections
      max_connections = 100
      shared_buffers = 128MB
      effective_cache_size = 256MB
      maintenance_work_mem = 32MB
      checkpoint_completion_target = 0.7
      wal_buffers = 4MB
      default_statistics_target = 100
      random_page_cost = 4.0
      effective_io_concurrency = 2
      work_mem = 4MB
      min_wal_size = 512MB
      max_wal_size = 1GB
      log_statement = 'all'           # Log all queries for debugging
      log_destination = 'stderr'
      logging_collector = off
      log_min_duration_statement = 0  # Log all queries

    init-databases.sql: |
      
      CREATE DATABASE  wallet ;
      CREATE DATABASE  transaction ;

      
      GRANT ALL PRIVILEGES ON DATABASE wallet TO postgres;
      GRANT ALL PRIVILEGES ON DATABASE transaction TO postgres;